/* 完全填充的样式 */
.container-fullFill {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
}

.table-wrapper{
    width: 320px;
    padding: 25px 0 0 0;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 0 0 7px 3px rgba(171, 96, 83 ,0.2);
    border-radius: 5px;
    border: 1px solid #d8dee2;
}

.none{
	display: none;
}