html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Microsoft YaHei';
	/*overflow: hidden;*/
}



.navbar-fixed-bottom{
	line-height: 70px;
	height: 1px;
}

ul {
	list-style: none;
	padding: 0;
}
header {
	width: 990px;
	margin: 0 60px;
	height: 76px;
	padding: 50px 30px;
}

h1 {
	float: left;
	margin: 0;
	width: 150px;
}

h1 > img {
	display: block;
	width: 100%;
}

h2 {
	float: left;
	font-size: 20px;
	line-height: 1;
	margin: 11px 0 0 15px;
	color: #FFF;
}

h3 {
	font-size: 18px;
	line-height: 1;
	margin: 11px 0 0 0px;
	color: #FFF;
}

header > ul {
	float: right;
	font-size: 16px;
	line-height: 0;
}
header > ul > li {
	display: inline-block;
	line-height: 36px;
}
header > ul a {
	padding: 0 5px;
}
header > ul a, header > ul a:hover {
	color: #209ef6;
}
section {
	position: absolute;
	top: 20%;
	left: 70%;
	transform: translateX(-50%);
}


@media screen and (max-width: 500px) {
	section {
		left: 50%;
	}
	header {
		width: auto;
		padding: 50px 0;
		text-align: center;
	}
}


section > div {
	padding: 25px 0;
	width: 320px;
	margin: 0 auto;
}
section > div > div:nth-child(2) {
	margin: 0 320px 0 40px;
	/* min-height: 290px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #d8dee2;
	padding: 40px 50px; */
	font-size: 16px;
}

section > div > div:nth-child(2) > ol {
	margin-top: 10px;
	padding-left: 20px;
}

footer {
	width: 990px;
	margin: 30px auto;
}

footer > .copyright {
	color: #666;
	font-size: 12px;
	text-align: center;
}

.table-wrapper, .scanCode-wrapper{
	float: right;
}

