
.table-wrapper > p{
	width: 100%;
    display: table;
    border-left: 0;
   	border-right: 0;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.table-wrapper > p > span{
	display: table-cell;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    font-weight: bold;
	width: 160px;
}
.table-wrapper > p > span.selected{
	border-bottom: 2px solid #e36f13;
    color: #e36f13;
}
.login-wrapper{
	padding: 20px 20px 15px;
}
.scanCode-wrapper {
	width: 320px;
	padding: 55px 30px 104px;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 0 0 7px 3px rgba(171, 96, 83 ,0.2);
	border-radius: 5px;
	border: 1px solid #d8dee2;
	/*height: 350px;*/
}

.login-wrapper > h3 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: normal;
}

.login-wrapper > form > ul {
	padding: 0;
	list-style: none;
}
.login-wrapper > form > ul > li {
	margin-bottom: 20px;
	position: relative;
}

.login-wrapper > form > ul > li > label {
	position: absolute;
	left: 1px;
	top: 8px;
	width: 35px;
	height: 20px;
	border-right: 1px solid #ddd;
	color: #ccc;
	font-size: 18px;
	text-align: center;
	padding-top: 1px;
}

.login-wrapper > form > ul > li:last-child {
	margin-bottom: 0;
}

.login-wrapper > form > ul > li > input {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	background-color: transparent;
	display: block;
	width: 100%;
	height: 36px;
	padding: 7px 10px 8px 45px;
	font-size: 14px;
	line-height: 21px;
	color: inherit;
	outline: none;
}
.login-wrapper > form > ul > li > input:focus {
	border-color: #e36f13;
}
#verifyCode{
	width: 50%;
	margin-right: 10%;
	padding-left: 10px;
	float: left;
}
.verifyCode-btn{
	width: 40%;
	height: 36px;
	display: inline-block;
	padding: 8px 0;
}
.verifyCode-btn.disabled, .verifyCode-btn.disabled:hover{
	background: #ddd;
}
.remember-line {
	font-size: 12px;
	line-height: 27px;
	margin: 10px 0 25px;
	position: relative;
}
.remember-line > label {
	display: inline-block;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 0;
}
.remember-line > label > input {
	vertical-align: middle;
	margin: 0 3px 0 0;
}
.remember-line > label > span {
	vertical-align: middle;
	line-height: 27px;
}
.remember-line > a {
	float: right;
	color: inherit;
	color: #e36f13;
	font-weight: bold;
}

.remember-line > a#dynamicGuide {
	cursor: default;
}

.login-line > button {
	-webkit-appearance: none;
	width: 100%;
	height: 42px;
	background-color: #e36f13;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	letter-spacing: 5px;
	outline: none;
}
.login-line.wechat-submit{
	margin-top: 63px;
}
.login-line > button:hover {
	background-color: #E38730;
}

.login-wrapper > form > ul > li > .invalid-input {
	border-color: #f60;
}

.login-line {
	position: relative;
	margin-top: 20px;
}
.login-line > .invalid-message {
	top: 47px;
} 

.invalid-message {
	position: absolute;
	padding: 2px 12px 2px 5px;
	background-color: #fff7dc;
    border: 1px solid #f4e09d;
    border-radius: 2px;
    color: #666;
    font-size: 12px;
    z-index: 999;
    left: 0;
    top: 41px;
}
.invalid-message:before, .invalid-message:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
}
.invalid-message:before {
	left: 12px;
	top: -6px;
	border-width: 0 6px 6px;
	border-color: #f4e09d transparent;
}
.invalid-message:after {
	left: 14px;
	border-width: 0 4px 4px;
	top: -4px;
	border-color: #fff7dc transparent;
}
.switch-module{
	position: relative;
}
.port-toggler{
	position: absolute;
	z-index: 2;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    display: block;
    background: url(../img/qr.png) no-repeat -56px -56px;
}
.port-toggler.toggle{
	background-position: 0 0;
}
.scanCode-wrapper h3{
	font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
}
.scanCode-wrapper > div{
	text-align: center;
}
.error-tips {
    position: absolute;
    left: 130px;
    height: 40px;
    border: 1px solid #ddd;
    bottom: -47px;
    z-index: 1000;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 9px 10px 0 35px;
    width: 160px;
}

.autoLogin-tips {
	position: absolute;
	left: 0px;
	border: 1px solid #ddd;
	bottom: -24px;
	z-index: 1000;
	background: #eadede;
	border-radius: 4px;
	box-sizing: border-box;
	/*padding: 5px 10px 0px 35px;*/
	margin-top: 8px;
	display: none;
	color: #ce1a0d;
}

.error-tips:before {
    content: 'ï¼';
    width: 20px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #efb966;
    color: #fff;
    font-weight: bold;
    padding-left: 2px;
}
.error-tips:after {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 15px;
    top: -6px;
    background: #fff;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

.dynamicGuideInfo {
	top: 6.5%;
	right: 69%;
	transform: translateX(-50%);
	display: none;
	position: absolute;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 0 0 7px 3px rgba(171, 96, 83 ,0.2);
	border-radius: 5px;
	border: 1px solid #d8dee2;
	height: 336px;
	width: 214px;
	padding: 0;
}

.dynamicGuideInfo.oauth_login {
	top: 13.2%;
}

.dynamicGuideInfo > img {
	margin: 2px 15px;
}

.dynamicGuideInfo > p {
	margin: 10px 0 0 0;
	color: #e36f13;
	font-weight: bold;
	text-align: center;
}

