<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestcfm.dao.AppointmentDao">
  <resultMap id="BaseResultMap" type="com.bestcfm.bean.Appointment">
    <!--
    @mbggenerated
    -->
    <id column="appointId" jdbcType="INTEGER" property="appointId" />
    <result column="userAccount" jdbcType="VARCHAR" property="userAccount" />
    <result column="appointUserName" jdbcType="VARCHAR" property="appointUserName" />
    <result column="appointTime" jdbcType="TIMESTAMP" property="appointTime" />
    <result column="appointPeopleCount" jdbcType="INTEGER" property="appointPeopleCount" />
    <result column="appointIsDelete" jdbcType="INTEGER" property="appointIsDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    appointId, userAccount, appointUserName, appointTime, appointPeopleCount, appointIsDelete
  </sql>
  <select id="selectByExample" parameterType="com.bestcfm.bean.AppointmentExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from appointment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from appointment
    where appointId = #{appointId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from appointment
    where appointId = #{appointId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bestcfm.bean.AppointmentExample">
    <!--
    @mbggenerated
    -->
    delete from appointment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bestcfm.bean.Appointment">
    <!--
    @mbggenerated
    -->
    <selectKey keyProperty="appointId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into appointment (userAccount, appointUserName, appointTime, 
      appointPeopleCount, appointIsDelete)
    values (#{userAccount,jdbcType=VARCHAR}, #{appointUserName,jdbcType=VARCHAR}, #{appointTime,jdbcType=TIMESTAMP}, 
      #{appointPeopleCount,jdbcType=INTEGER}, #{appointIsDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bestcfm.bean.Appointment">
    <!--
    @mbggenerated
    -->
    <selectKey keyProperty="appointId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into appointment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userAccount != null">
        userAccount,
      </if>
      <if test="appointUserName != null">
        appointUserName,
      </if>
      <if test="appointTime != null">
        appointTime,
      </if>
      <if test="appointPeopleCount != null">
        appointPeopleCount,
      </if>
      <if test="appointIsDelete != null">
        appointIsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="appointUserName != null">
        #{appointUserName,jdbcType=VARCHAR},
      </if>
      <if test="appointTime != null">
        #{appointTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointPeopleCount != null">
        #{appointPeopleCount,jdbcType=INTEGER},
      </if>
      <if test="appointIsDelete != null">
        #{appointIsDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bestcfm.bean.AppointmentExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from appointment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update appointment
    <set>
      <if test="record.appointId != null">
        appointId = #{record.appointId,jdbcType=INTEGER},
      </if>
      <if test="record.userAccount != null">
        userAccount = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.appointUserName != null">
        appointUserName = #{record.appointUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.appointTime != null">
        appointTime = #{record.appointTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appointPeopleCount != null">
        appointPeopleCount = #{record.appointPeopleCount,jdbcType=INTEGER},
      </if>
      <if test="record.appointIsDelete != null">
        appointIsDelete = #{record.appointIsDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update appointment
    set appointId = #{record.appointId,jdbcType=INTEGER},
      userAccount = #{record.userAccount,jdbcType=VARCHAR},
      appointUserName = #{record.appointUserName,jdbcType=VARCHAR},
      appointTime = #{record.appointTime,jdbcType=TIMESTAMP},
      appointPeopleCount = #{record.appointPeopleCount,jdbcType=INTEGER},
      appointIsDelete = #{record.appointIsDelete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bestcfm.bean.Appointment">
    <!--
    @mbggenerated
    -->
    update appointment
    <set>
      <if test="userAccount != null">
        userAccount = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="appointUserName != null">
        appointUserName = #{appointUserName,jdbcType=VARCHAR},
      </if>
      <if test="appointTime != null">
        appointTime = #{appointTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointPeopleCount != null">
        appointPeopleCount = #{appointPeopleCount,jdbcType=INTEGER},
      </if>
      <if test="appointIsDelete != null">
        appointIsDelete = #{appointIsDelete,jdbcType=INTEGER},
      </if>
    </set>
    where appointId = #{appointId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bestcfm.bean.Appointment">
    <!--
    @mbggenerated
    -->
    update appointment
    set userAccount = #{userAccount,jdbcType=VARCHAR},
      appointUserName = #{appointUserName,jdbcType=VARCHAR},
      appointTime = #{appointTime,jdbcType=TIMESTAMP},
      appointPeopleCount = #{appointPeopleCount,jdbcType=INTEGER},
      appointIsDelete = #{appointIsDelete,jdbcType=INTEGER}
    where appointId = #{appointId,jdbcType=INTEGER}
  </update>
</mapper>