<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestcfm.dao.FoodOrderDao">
  <resultMap id="BaseResultMap" type="com.bestcfm.bean.FoodOrder">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userMark" jdbcType="VARCHAR" property="userMark" />
    <result column="deskNo" jdbcType="INTEGER" property="deskNo" />
    <result column="orderNo" jdbcType="VARCHAR" property="orderNo" />
    <result column="foodId" jdbcType="INTEGER" property="foodId" />
    <result column="foodName" jdbcType="VARCHAR" property="foodName" />
    <result column="orderCount" jdbcType="INTEGER" property="orderCount" />
    <result column="orderState" jdbcType="INTEGER" property="orderState" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dataFlag" jdbcType="INTEGER" property="dataFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, userMark, deskNo, orderNo, foodId, foodName, orderCount, orderState, remark, 
    createTime, dataFlag
  </sql>
  <select id="selectByExample" parameterType="com.bestcfm.bean.FoodOrderExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from foodorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from foodorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from foodorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bestcfm.bean.FoodOrderExample">
    <!--
    @mbggenerated
    -->
    delete from foodorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bestcfm.bean.FoodOrder">
    <!--
    @mbggenerated
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into foodorder (userMark, deskNo, orderNo, 
      foodId, foodName, orderCount, 
      orderState, remark, createTime, 
      dataFlag)
    values (#{userMark,jdbcType=VARCHAR}, #{deskNo,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{foodId,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, #{orderCount,jdbcType=INTEGER}, 
      #{orderState,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dataFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bestcfm.bean.FoodOrder">
    <!--
    @mbggenerated
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into foodorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userMark != null">
        userMark,
      </if>
      <if test="deskNo != null">
        deskNo,
      </if>
      <if test="orderNo != null">
        orderNo,
      </if>
      <if test="foodId != null">
        foodId,
      </if>
      <if test="foodName != null">
        foodName,
      </if>
      <if test="orderCount != null">
        orderCount,
      </if>
      <if test="orderState != null">
        orderState,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="dataFlag != null">
        dataFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userMark != null">
        #{userMark,jdbcType=VARCHAR},
      </if>
      <if test="deskNo != null">
        #{deskNo,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="foodId != null">
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="foodName != null">
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="orderCount != null">
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bestcfm.bean.FoodOrderExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from foodorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update foodorder
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userMark != null">
        userMark = #{record.userMark,jdbcType=VARCHAR},
      </if>
      <if test="record.deskNo != null">
        deskNo = #{record.deskNo,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null">
        orderNo = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.foodId != null">
        foodId = #{record.foodId,jdbcType=INTEGER},
      </if>
      <if test="record.foodName != null">
        foodName = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCount != null">
        orderCount = #{record.orderCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderState != null">
        orderState = #{record.orderState,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataFlag != null">
        dataFlag = #{record.dataFlag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update foodorder
    set id = #{record.id,jdbcType=INTEGER},
      userMark = #{record.userMark,jdbcType=VARCHAR},
      deskNo = #{record.deskNo,jdbcType=INTEGER},
      orderNo = #{record.orderNo,jdbcType=VARCHAR},
      foodId = #{record.foodId,jdbcType=INTEGER},
      foodName = #{record.foodName,jdbcType=VARCHAR},
      orderCount = #{record.orderCount,jdbcType=INTEGER},
      orderState = #{record.orderState,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      dataFlag = #{record.dataFlag,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bestcfm.bean.FoodOrder">
    <!--
    @mbggenerated
    -->
    update foodorder
    <set>
      <if test="userMark != null">
        userMark = #{userMark,jdbcType=VARCHAR},
      </if>
      <if test="deskNo != null">
        deskNo = #{deskNo,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        orderNo = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="foodId != null">
        foodId = #{foodId,jdbcType=INTEGER},
      </if>
      <if test="foodName != null">
        foodName = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="orderCount != null">
        orderCount = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        orderState = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFlag != null">
        dataFlag = #{dataFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bestcfm.bean.FoodOrder">
    <!--
    @mbggenerated
    -->
    update foodorder
    set userMark = #{userMark,jdbcType=VARCHAR},
      deskNo = #{deskNo,jdbcType=INTEGER},
      orderNo = #{orderNo,jdbcType=VARCHAR},
      foodId = #{foodId,jdbcType=INTEGER},
      foodName = #{foodName,jdbcType=VARCHAR},
      orderCount = #{orderCount,jdbcType=INTEGER},
      orderState = #{orderState,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      dataFlag = #{dataFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>