<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestcfm.dao.FoodDao">
  <resultMap id="BaseResultMap" type="com.bestcfm.bean.Food">
    <!--
    @mbggenerated
    -->
    <id column="foodId" jdbcType="INTEGER" property="foodId" />
    <result column="foodName" jdbcType="VARCHAR" property="foodName" />
    <result column="foodPrice" jdbcType="REAL" property="foodPrice" />
    <result column="foodStore" jdbcType="INTEGER" property="foodStore" />
    <result column="foodSales" jdbcType="INTEGER" property="foodSales" />
    <result column="foodIntroduce" jdbcType="VARCHAR" property="foodIntroduce" />
    <result column="foodTypeId" jdbcType="INTEGER" property="foodTypeId" />
    <result column="foodTypeName" jdbcType="VARCHAR" property="foodTypeName" />
    <result column="foodIsDelete" jdbcType="INTEGER" property="foodIsDelete" />
    <result column="foodIsSpecialty" jdbcType="INTEGER" property="foodIsSpecialty" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    foodId, foodName, foodPrice, foodStore, foodSales, foodIntroduce, foodTypeId, foodTypeName, 
    foodIsDelete, foodIsSpecialty
  </sql>
  <select id="selectByExample" parameterType="com.bestcfm.bean.FoodExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from food
    where foodId = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from food
    where foodId = #{foodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bestcfm.bean.FoodExample">
    <!--
    @mbggenerated
    -->
    delete from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bestcfm.bean.Food">
    <!--
    @mbggenerated
    -->
    <selectKey keyProperty="foodId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into food (foodName, foodPrice, foodStore, 
      foodSales, foodIntroduce, foodTypeId, 
      foodTypeName, foodIsDelete, foodIsSpecialty
      )
    values (#{foodName,jdbcType=VARCHAR}, #{foodPrice,jdbcType=REAL}, #{foodStore,jdbcType=INTEGER}, 
      #{foodSales,jdbcType=INTEGER}, #{foodIntroduce,jdbcType=VARCHAR}, #{foodTypeId,jdbcType=INTEGER}, 
      #{foodTypeName,jdbcType=VARCHAR}, #{foodIsDelete,jdbcType=INTEGER}, #{foodIsSpecialty,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bestcfm.bean.Food">
    <!--
    @mbggenerated
    -->
    <selectKey keyProperty="foodId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodName != null">
        foodName,
      </if>
      <if test="foodPrice != null">
        foodPrice,
      </if>
      <if test="foodStore != null">
        foodStore,
      </if>
      <if test="foodSales != null">
        foodSales,
      </if>
      <if test="foodIntroduce != null">
        foodIntroduce,
      </if>
      <if test="foodTypeId != null">
        foodTypeId,
      </if>
      <if test="foodTypeName != null">
        foodTypeName,
      </if>
      <if test="foodIsDelete != null">
        foodIsDelete,
      </if>
      <if test="foodIsSpecialty != null">
        foodIsSpecialty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodName != null">
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null">
        #{foodPrice,jdbcType=REAL},
      </if>
      <if test="foodStore != null">
        #{foodStore,jdbcType=INTEGER},
      </if>
      <if test="foodSales != null">
        #{foodSales,jdbcType=INTEGER},
      </if>
      <if test="foodIntroduce != null">
        #{foodIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="foodTypeId != null">
        #{foodTypeId,jdbcType=INTEGER},
      </if>
      <if test="foodTypeName != null">
        #{foodTypeName,jdbcType=VARCHAR},
      </if>
      <if test="foodIsDelete != null">
        #{foodIsDelete,jdbcType=INTEGER},
      </if>
      <if test="foodIsSpecialty != null">
        #{foodIsSpecialty,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bestcfm.bean.FoodExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update food
    <set>
      <if test="record.foodId != null">
        foodId = #{record.foodId,jdbcType=INTEGER},
      </if>
      <if test="record.foodName != null">
        foodName = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.foodPrice != null">
        foodPrice = #{record.foodPrice,jdbcType=REAL},
      </if>
      <if test="record.foodStore != null">
        foodStore = #{record.foodStore,jdbcType=INTEGER},
      </if>
      <if test="record.foodSales != null">
        foodSales = #{record.foodSales,jdbcType=INTEGER},
      </if>
      <if test="record.foodIntroduce != null">
        foodIntroduce = #{record.foodIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.foodTypeId != null">
        foodTypeId = #{record.foodTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.foodTypeName != null">
        foodTypeName = #{record.foodTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.foodIsDelete != null">
        foodIsDelete = #{record.foodIsDelete,jdbcType=INTEGER},
      </if>
      <if test="record.foodIsSpecialty != null">
        foodIsSpecialty = #{record.foodIsSpecialty,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update food
    set foodId = #{record.foodId,jdbcType=INTEGER},
      foodName = #{record.foodName,jdbcType=VARCHAR},
      foodPrice = #{record.foodPrice,jdbcType=REAL},
      foodStore = #{record.foodStore,jdbcType=INTEGER},
      foodSales = #{record.foodSales,jdbcType=INTEGER},
      foodIntroduce = #{record.foodIntroduce,jdbcType=VARCHAR},
      foodTypeId = #{record.foodTypeId,jdbcType=INTEGER},
      foodTypeName = #{record.foodTypeName,jdbcType=VARCHAR},
      foodIsDelete = #{record.foodIsDelete,jdbcType=INTEGER},
      foodIsSpecialty = #{record.foodIsSpecialty,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bestcfm.bean.Food">
    <!--
    @mbggenerated
    -->
    update food
    <set>
      <if test="foodName != null">
        foodName = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null">
        foodPrice = #{foodPrice,jdbcType=REAL},
      </if>
      <if test="foodStore != null">
        foodStore = #{foodStore,jdbcType=INTEGER},
      </if>
      <if test="foodSales != null">
        foodSales = #{foodSales,jdbcType=INTEGER},
      </if>
      <if test="foodIntroduce != null">
        foodIntroduce = #{foodIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="foodTypeId != null">
        foodTypeId = #{foodTypeId,jdbcType=INTEGER},
      </if>
      <if test="foodTypeName != null">
        foodTypeName = #{foodTypeName,jdbcType=VARCHAR},
      </if>
      <if test="foodIsDelete != null">
        foodIsDelete = #{foodIsDelete,jdbcType=INTEGER},
      </if>
      <if test="foodIsSpecialty != null">
        foodIsSpecialty = #{foodIsSpecialty,jdbcType=INTEGER},
      </if>
    </set>
    where foodId = #{foodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bestcfm.bean.Food">
    <!--
    @mbggenerated
    -->
    update food
    set foodName = #{foodName,jdbcType=VARCHAR},
      foodPrice = #{foodPrice,jdbcType=REAL},
      foodStore = #{foodStore,jdbcType=INTEGER},
      foodSales = #{foodSales,jdbcType=INTEGER},
      foodIntroduce = #{foodIntroduce,jdbcType=VARCHAR},
      foodTypeId = #{foodTypeId,jdbcType=INTEGER},
      foodTypeName = #{foodTypeName,jdbcType=VARCHAR},
      foodIsDelete = #{foodIsDelete,jdbcType=INTEGER},
      foodIsSpecialty = #{foodIsSpecialty,jdbcType=INTEGER}
    where foodId = #{foodId,jdbcType=INTEGER}
  </update>
</mapper>